<hr>

<h4> Post on weather from {{name}} </h4>
  <p>
    {{name}} <br> {{location}} <br> {{text}}
  </p>

<h4> Comments to the post: </h4>
  <p>
    {{#each comments}}
      title:  {{title}}  <br>
      description: {{description}}
    {{/each}}
  </p>
<hr>

<h3> Add a new comment:</h3>
  <form action="/post-comment/{{id}}" method="post">
    title: <br>
    <input type="text" name="title" value="" class="inputTitle"/> <br>
    text:  <br>
    <input type="text" name="description" value="" class="inputText"/> <br>
    <input type="hidden" name="post_id" value="{{id}}"/>
    <input type="submit" value="submit!">
  </form>


<!-- Temporary style just to view the form on page: -->
<style>
.inputTitle {
  height: 2rem;
  width: 400px;
}
.inputText {
  height: 3rem;
  width: 400px;
}
</style>
