<hr>
<a href="/"> home </a>

<h1> All posts on weather type selected</h1>
<a href="/add-post"> Add Post </a>
{{#each posts}}
<div>
  {{date}} <br>
  {{name}} <br>
  {{location}}<br>
  {{text}} <br>
  <a href="/post-comment/{{id}}">View and add a comment to this post</a>
  <hr>
</div>
{{/each}}
